/.settings
/.project
/pkrss-cm-common/.project
/pkrss-cm-common/.settings
/pkrss-cm-common/target
/pkrss-cm-common/.classpath
/pkrss-microsrv-a/.settings
/pkrss-microsrv-a/target
/pkrss-microsrv-a/.classpath
/pkrss-microsrv-a/.project
/pkrss-microsrv-b/.project
/pkrss-microsrv-b/.settings
/pkrss-microsrv-b/target
/pkrss-microsrv-b/.classpath
/pkrss-microsrv-config/.project
/pkrss-microsrv-config/.settings
/pkrss-microsrv-config/target
/pkrss-microsrv-config/.classpath
/pkrss-microsrv-consul/target
/pkrss-microsrv-consul/.classpath
/pkrss-microsrv-consul/.project
/pkrss-microsrv-consul/.settings
/pkrss-microsrv-discovery/.classpath
/pkrss-microsrv-discovery/.project
/pkrss-microsrv-discovery/.settings
/pkrss-microsrv-discovery/target
/pkrss-microsrv-gateway/.classpath
/pkrss-microsrv-gateway/.project
/pkrss-microsrv-gateway/.settings
/pkrss-microsrv-gateway/target
/pkrss-microsrv-hystrix-dashboard/.classpath
/pkrss-microsrv-hystrix-dashboard/.project
/pkrss-microsrv-hystrix-dashboard/.settings
/pkrss-microsrv-hystrix-dashboard/target
/target
